<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />	 
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/javascript/sportstables.js"></script>	
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24702575-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>    
    <title>Make sports tables with SportsTables! the league table generator</title> 
  </head>
  <body>
<div data-role="page" id="table">
  <div data-role="header">
		<a href="./" data-icon="home" data-iconpos="notext" data-transition="slideup">Home</a>
	    <h1>SportsTables!</h1>

	<div data-role="navbar">
		<ul>
			<li><a href="./existingtable" data-transition="slideup">Your tables</a></li>
			<li><a href="./newtable" data-transition="slideup">Create a new table</a></li>
		</ul>
	</div><!-- /navbar -->
	<div data-role="navbar">
		<ul>
			<li><a href="#" class="ui-btn-active">Table</a></li>
			<li><a href="/getteams?table_name={{tabledata.key.id}}">Teams</a></li>
			<li><a href="/getresults?table_name={{tabledata.key.id}}">Results</a></li>
			<li><a href="/getshare?table_name={{tabledata.key.id}}">Share</a></li>			
		</ul>
	</div> <!-- /navbar -->
  </div><!-- /header -->

	<div data-role="content">
	<h2>{{tabledata.name|capfirst}}</h2>    
    <table id="results_table" width="100%" bgcolor="#FFFFFF" border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>Team</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>F</th>
        <th>A</th>
        <th>+-</th>        
        <th>Pts</th>                
      </tr>
      {% for t in teamsdata%}
      <tr>
        <td>{{t.name|capfirst}}</td>
        <td>{{t.games_played}}</td>
        <td>{{t.games_won}}</td>
        <td>{{t.games_drawn}}</td>
        <td>{{t.games_lost}}</td>
        <td>{{t.goals_for}}</td>
        <td>{{t.goals_against}}</td>
        <td>{{t.goal_difference}}</td>        
        <td>{{t.points}}</td>                
      </tr>
      {% endfor %}      
    </table>
     <h3>Results</h3>
    <table id="view_results_ID" bgcolor="#FFFFFF" border="1" cellpadding="5" cellspacing="0">
      {% for r in resultsdata %}
      <tr>
        <td align="right">{{r.home_team_name|capfirst}}</td>
        <td>{{r.home_team_score}}</td>
        <td align="center">v</td>
        <td>{{r.away_team_name|capfirst}}</td>
        <td>{{r.away_team_score}}</td>                        
      </tr>
      {% endfor %}       
    </table>    
	</div><!-- /content -->

	<div data-role="footer" class="footer-docs">
			<p align="right">&copy; 2011 SportsTables &nbsp; <img align="top" src="./images/appengine.gif" alt="Powered by Google App Engine" border="0"/> &nbsp; </p>
	</div><!-- /footer -->
</div><!-- /page -->           
  </body>
</html>


