<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="/stylesheets/jquery.mobile-1.0.1.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript" src="/javascript/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascript/sportstables.js"></script>
	<script type="text/javascript" src="/javascript/jquery.mobile-1.0.1.min.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24702575-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <title>Make sports tables with SportsTables! the league table generator</title>
  </head>
  <body>
<div data-role="page" id="teams">
  <div data-role="header">
		<a href="./" data-icon="home" data-iconpos="notext" data-transition="slideup" data-ajax="false">Home</a>
	    <h1>SportsTables!</h1>

	<div data-role="navbar">
		<ul>
			<li><a href="./existingtable" data-transition="slideup">Your tables</a></li>
			<li><a href="./newtable" data-transition="slideup">Create a new table</a></li>
		</ul>
	</div><!-- /navbar -->
	<div data-role="navbar">
		<ul>
			<li><a href="/gettable?table_name={{tabledata.key.id}}" data-direction="reverse">Table</a></li>
			<li><a href="#" class="ui-btn-active">Teams</a></li>
			<li><a href="/getresults?table_name={{tabledata.key.id}}">Results</a></li>
			<li><a href="/getshare?table_name={{tabledata.key.id}}">Share</a></li>			
		</ul>
	</div> <!-- /navbar -->
  </div><!-- /header -->

	<div data-role="content">
	<h2>{{tabledata.name|capfirst}}</h2>
	<h3>Add a team</h3>    
    <form action="/addteam" method="post" name="add_team_form">
      <input type="hidden" name="tbl_id" value="{{tabledata.key.id}}"/>
      <label for="name_ID">Enter team name</label>
      <input onFocus="return clearDefaultText('add_team_form', 'name_ID', 'Enter a name here')" type="text" name="name" id="name_ID" value="Enter a name here"></input>                   
      <input type="submit" value="Add new team">
    </form>
    <h3>Delete a team</h3> 
    <form action="/deleteteam" method="post">
      <input type="hidden" name="tbl_id" value="{{tabledata.key.id}}"/>
      <div data-role="fieldcontain">
      <label for="team_to_delete_ID">Select team to delete</label> 
      <select name="team_to_delete" id="team_to_delete_ID" {% if disable2 %}disabled="disabled"{% endif %}>
        {% for t in teamsdata %}
        <option value="{{t.key.id}}">{{t.name|capfirst}}</option>               
        {% endfor %}                           
      </select>
      </div>                  
      <input type="submit" value="Delete team" {% if disable2 %}disabled="disabled"{% endif %}>
    </form>

	</div><!-- /content -->

	<div data-role="footer" class="footer-docs">
			{% if notapp %}
	  			<a style="float:left;" href="http://market.android.com/details?id=sportstables.com"><img src="http://www.android.com/images/brand/45_avail_market_logo2.png" alt="Available in Android Market" /></a>
			{% endif %}
			<p align="right">&copy; 2011 SportsTables &nbsp;</p>
	</div><!-- /footer -->
</div><!-- /page -->           
  </body>
</html>


